@model FinalProject.Models.Member

@{
    ViewData["Title"] = "Create";
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <h4 style="margin-top:40px">Create Member</h4>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeNumber" class="control-label"></label>
                        <input asp-for="EmployeeNumber" class="form-control" />
                        <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FunctionId" class="control-label"></label>
                        <select asp-for="FunctionId" class="form-control" asp-items="ViewBag.FunctionId"></select>
                    </div>

                    <div class="form-group mt-3">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    <a asp-action="Index" class="btn btn-outline-primary mt-1">Back to the list of members</a>
                </form>
            </div>
        </div>

        <div>
            
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
