@model FinalProject.Models.Member

@{
    ViewData["Title"] = "Edit";
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <h3 style="margin-top:40px">Edit Member</h3>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="MemberId" />
                    <div class="form-group ">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="EmployeeNumber" class="control-label"></label>
                        <input asp-for="EmployeeNumber" class="form-control" />
                        <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="FunctionId" class="control-label"></label>
                        <select asp-for="FunctionId" class="form-control" asp-items="ViewBag.FunctionId"></select>
                        <span asp-validation-for="FunctionId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary mt-2" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index" class="btn btn-outline-primary">Back to the list of members</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
