@model FinalProject.Models.P_Task

@{
    ViewData["Title"] = "Create Task";
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <h1>Create</h1>

            <h4>P_Task</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="P_TaskName" class="control-label"></label>
                            <input asp-for="P_TaskName" class="form-control" />
                            <span asp-validation-for="P_TaskName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Comentary" class="control-label"></label>
                            <input asp-for="Comentary" class="form-control" />
                            <span asp-validation-for="Comentary" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="P_TaskState" class="control-label"></label>
                            <input asp-for="P_TaskState" class="form-control" />
                            <span asp-validation-for="P_TaskState" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </main>
    </div>
</div>
