@model FinalProject.Models.P_Task

@{
    ViewData["Title"] = "Create Task";
    var ID = ViewBag.ID;
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <h1>Create</h1>

            <h4>P_Task</h4>

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="P_TaskName" class="control-label"></label>
                    <input asp-for="P_TaskName" class="form-control" />
                    <span asp-validation-for="P_TaskName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comentary" class="control-label"></label>
                    <textarea asp-for="Comentary" class="form-control" rows="7"></textarea>
                    <span asp-validation-for="Comentary" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top: 20px">
                    <label asp-for="StartDate" class="control-label">Start Date</label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top: 20px">
                    <label asp-for="Deadline" class="control-label">Start Date</label>
                    <input asp-for="Deadline" class="form-control" />
                    <span asp-validation-for="Deadline" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="StateId" class="control-label"></label>
                    <select asp-for="StateId" class="form-control" asp-items="ViewBag.StateId"></select>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="ProjectId" class="control-label"></label>
                    <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                </div>
                <div class="form-group">
                    <input asp-route-id="@ID" type="submit" value="Create" class="btn btn-primary" />
                    <a asp-route-id="@ID" asp-action="Index" class="btn btn-secondary">Cancel</a>
                </div>
            </form>

        </main>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
