@{
    ViewData["Title"] = "Sucess";
    var ID = ViewBag.ID;
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="card border-success">
                <div class="card-body">
                    <h5 class="card-title text-success">@ViewBag.Title</h5>
                    <p class="card-text lead">@ViewBag.Message</p>
                    <p></p>
                    <a class="btn btn-primary" asp-route-id="@ID" asp-controller="Projects" asp-action="Details">Tasks</a>
                </div>
            </div>
        </main>
    </div>
</div>