@{
    ViewData["Title"] = "About";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Sidenav Light</h1>
        <div class="card mb-4">
            <div class="card-body">
                <div class="text-center" style="margin-top: 100px">
    <h1>This is a website to made help game developers </h1>
    <h1>Developers of this website are:</h1>
</div>


<div class="d-flex justify-content-center" style="margin-top: 100px;">


    <div class="container">
        <div class="card" style="width:400px">
            <img class="card-img-top" href="https://www.freepik.com/free-icon/yahoo_15297795.htm#page=1&query=face%20logo&position=1&from_view=search" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Daniel Carmona</h4>
                <p class="card-text">Hello!! I'm Carmona, known as rock star. Like food and music!</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
        <br>
    </div>



    <div class="container">
        <div class="card" style="width:400px">
            <img class="card-img-top" href="https://www.freepik.com/free-icon/yahoo_15297795.htm#page=1&query=face%20logo&position=1&from_view=search" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Gonçalo Silva</h4>
                <p class="card-text">Hi!! I'm Gonçalo. I'm the shortest between this two guys. Like food and fresh water!</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
        <br>
    </div>



    <div class="container">
        <div class="card" style="width:400px">
            <img class="card-img-top" href="https://www.freepik.com/free-icon/yahoo_15297795.htm#page=1&query=face%20logo&position=1&from_view=search" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Victor Seguro</h4>
                <p class="card-text">Hi!! My name is Victor. I'm a bald big guy. Love food and games!</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
        <br>
    </div>

</div>
            </div>
        </div>
    </div>
</main>