@{
    ViewData["Title"] = "About Us";
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="text-center" style="margin-top: 100px">
                <h1>This is a website to made help game developers </h1>
                <h1>Developers of this website are:</h1>
            </div>


            <div class="d-flex justify-content-center" style="margin-top: 100px;">

                <div class="container">
                    <div class="card mb-4" style="width:400px">
                        <img class="card-img-top" src="~/img/Carmona.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Daniel Carmona</h4>
                            <p class="card-text">Hello!! I'm Carmona, known as rock star. Like food and music!</p>
                            <a href="https://github.com/DaniCarmona" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                    <br>
                </div>



                <div class="container">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="~/img/Goncalo.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Gonçalo Silva</h4>
                            <p class="card-text">Hi!! I'm Gonçalo. I'm the shortest between this two guys. Like food and fresh water!</p>
                            <a href="https://github.com/goncaloMRsilva" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                    <br>
                </div>
                <br>

                <div class="container">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="~/img/Vitor.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Victor Seguro</h4>
                            <p class="card-text">Hi!! My name is Victor. I'm a bald big guy. Love food and games!</p>
                            <a href="https://github.com/VAPS17" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </main>
    </div>
</div>