@{
    ViewData["Title"] = "Home";
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>

            <div class="text-center" style="margin-top:50px">
                <h1>Home Page</h1>
                <h2>Welcome to our Project Manager</h2>
            </div>

            <div class="d-flex justify-content-end" style="margin-top: 100px">
                <img src="~/img/shake.jpg" style="width:50%">
                <div style="margin-left: 50px">
                    <h3 class="display-2">Your Projects are at our level</h3>
                </div>
            </div>

            <div class="d-flex justify-content-end" style="margin-top: 110px">
                <div style="margin-right: 50px">
                    <h3 class="display-2">Organize and divide your Tasks</h3>
                </div>
                <img src="~/img/tasks.jpg" style="width:50%">
            </div>

            <div class="d-flex justify-content-end" style="margin-top: 110px">
                <img src="~/img/meeting.jpg" style="width:50%">
                <div style="margin-left: 50px">
                    <h3 class="display-2">Schedule your meetings</h3>
                </div>
            </div>

        </main>
    </div>
</div>
