@{
    ViewData["Title"] = "Home";
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="text-center">
                <h1>Home</h1>
            </div>
        </main>
    </div>
</div>
