@model FinalProject.Models.Project

@{
    ViewData["Title"] = "Edit";
}


<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="d-flex justify-content-center" style="margin-top:100px">
                <h3>Edit your Project</h3>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: 30px">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ProjectId" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Name</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="margin-top: 20px">
                            <label asp-for="Description" class="control-label">Description</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <!--<div class="form-group" style="margin-top: 20px">
        <label asp-for="ProjectCreatorId" class="control-label"></label>
        <input asp-for="ProjectCreatorId" class="form-control" />
        <span asp-validation-for="ProjectCreatorId" class="text-danger"></span>
    </div>-->
                        <div class="form-group" style="margin-top: 20px">
                            <label asp-for="DecisiveDeliveryDate" class="control-label">Decisive Delivery Date</label>
                            <input asp-for="DecisiveDeliveryDate" class="form-control" />
                            <span asp-validation-for="DecisiveDeliveryDate" class="text-danger"></span>
                        </div>

                        <div class="form-group justify-content-center" style="margin-top: 30px">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a asp-action="Details" asp-route-Id="@Model.ProjectId" class="btn btn-outline-primary" style="margin-left:15px">Back to Details</a>
                        </div>
                    </form>
                </div>
            </div>

        </main>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
