@model FinalProject.Models.Function

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
    <div>
        <h4>Function</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>

        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.FunctionId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
